 .container{
    height:100vh; 
    position: relative;
    margin: 0 auto;
}



.container .content{
    
    padding-left:0px;
    padding-right: 25px;
}

.container .content h3{
    
    font-size: large;
} 

 .container .rowC{ flex-direction:row; justify-content: 'flex-start'} 