.font-link {
    font-family: 'Playfair Display', serif;
  }
  .App-header {
    background-color: #dbe5cb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #265037;
  }